$wide-screen:1100px;
$mid-screen: 500px;
$full-size-methods-section:1300px;
$background-image: url("../assets/backgrounds/why_us_bg.png");
$background-modal: url("../assets/backgrounds/modal.png");

.cyber_color {
    background-color: #4ac693;
}

.system_color {
    background-color: #a3b6cc;
}

.seo_color {
    background-color: #3a5998;
}

.qa_color{
    background-color: #316cff;
}

.ui_color{
    background-color: #f9cf58;
}

.fullstack_color{
    background-color: #bd6ae5;
}

.embeded_color{
    background-color: #475f8e;
}

.mobile_color{
    background-color: #8e8e93;
}

.method_part1{
    background-color: #0598a8;
}

.method_part2{
    background-color: #39a4dc;
}

.method_part3{
    background-color: #06f;
}

.method_part4{
    background-color: #213b7f;
}
