@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700;800&display=swap");
* {
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
}